<head>
    <link rel="stylesheet" href="mainpage.css" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
</head>

<body>
    
<div class="outer-container">
   <div class="inner-container">
     <div class="centered-content">
          <header>
            <h1>Bucketz<span>APP</span></h1>
            <h2>You are all set!</h2>
          </header>
     </div>
     

    
   </div>
   
    
</div>

</body>