<head>
    <link rel="stylesheet" href="help.css" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
</head>
<body>
  <header>
    <h1>Bucketz<span>Help</span></h1>
    <h2>Here are the list of questions you can ask the bot!</h2>
  </header>
  
  <div id="app">
    <div class="box">
      <div class = "center-buttons">
      <button id="get-accounts-btn">Location</button>
      </div>
      <div id="get-accounts-data">
      </div>
    </div>

    <div class="box">
      <div class = "center-buttons">
      <button id="get-item-btn">Graphs and Charts</button>
      </div>
      <div id="get-item-data"></div>
    </div>

    <div class="box">
      <div class = "center-buttons">
      <button id="get-transactions-btn">Patterns</button>
      <div id="get-transactions-data"></div>
    </div>
  </div>




<script type="text/javascript" src="helpscript.js"></script>
</body>