<head>
    <link rel="stylesheet" href="signup.css" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
</head>
<body>
  <header>
    <h1>Bucketz<span>APP</span></h1>
    <h2>Sign up and chat with Viva!</h2>
  </header>
  
  <form class="form" action="/signup" method="post">
            
            <input class="todoInput" type="text" id ="name" name="name"  placeholder="Name" required/>
            <br><br>
            <input class="todoInput" type="email" id ="email" name="email"  placeholder="Email" required/>
            <br><br>
            <input class="todoInput" type="password" id ="pass" name="pass"  placeholder="Password" required/>
            
            <input name="senderId" type="hidden" id="fbid">
            
            <br><br><br>
            
            <center>
            <input id="signupbut" type="submit" value="Signup">
            </center>
            
  </form>

  <ul class="list">
  </ul>

<script>
  $(document).ready(function() {
   var url = document.URL;

   
   var fbid = url.substring(url.indexOf('?')+1);
   var parts = fbid.split( '=', 2 );

   console.log(parts); 
   console.log("Im here");
   
   document.getElementById('fbid').setAttribute('value',parts[1])
});
</script>
</body>